
.books{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 40px;
margin-top: 40px;
}
.book{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.book img{
max-width: 100%;
margin-bottom: 10px;
}
.book h3{
font-size: 24px;
margin-top: 0px;
}
.book p{
margin-top: 5px;
color: aliceblue;
}