/* styles.css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
header{
    background-color: darkgray ;
    color: none;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: stickly;
    top: 0;
    z-index: 50;
}
.logo{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.logo a{
  color: #1c0505;
  text-decoration: none;
}
nav{
  display: flex;
  align-items: center;
}
nav u1{
  display: flex;
  align-items: center;
  justify-content: center;
}
nav u1 li{
  margin-left: 25px;
  list-style: none;
}
nav u1 li a{
  color: #640050;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  transition: o.4s ease;
}
nav u1 li a:hover{
  color: #676464;
}
.search{
  position: relative;

}
.search input{
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #fff;
}
.search button{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #300c0c;
  font-weight: bold;
}
.hero{
  background-color: lightcoral;
  padding: 70px 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.hero h1{
  font-size: 48px;
  color: #fff;
}
.hero p{
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
}
.main-content{
  background-color: #640050;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.books{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 40px;
}
.book{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.book img{
  max-width: 100%;
  margin-bottom: 10px;
}
.book h3{
  font-size: 24px;
  margin-top: 0px;
}
.book p{
  margin-top: 5px;
  color: aliceblue;
}
.btn{
  display: inline-block;
  padding: 12px 30px;
  background-color: rgb(16, 10, 10);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.4s ease;
}
.btn:hover{
  background-color: #676464;
}
footer{
  background-color: #1d8fc8;
  color: #fff;
  padding: 10px;
  text-align: center;
}
